:root {
  --accent-color: #f7941e;
  --logo-color: #231f20;
  --text-color-p: #000000; /*text color */
  --text-color-h: #000000;
  --text-color-second-p: #ffffff;
  --text-color-second-h: #ffffff;
  --bg-color-main: #ffffff; /*background-color section  */
  --bg-color-hero: #f1f1f2;
  --bg-color-header: #fafafa;
  --bg-color-footer: #fafafa;
  --bg-color-card: #fafafa;
  --bg-color-button: #231f20;
  --bg-color-blog: #222222;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* Убираем  маркеры */
ul,
ol {
  list-style: none;
}

/* Убираем внешние, внутренние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/* Упрощаем работу с изображениями */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: 'Montserrat', serif;
  font-size: 18px;
  /* line-height: 1.17; */
  color: var(--text-color-p);
  background-color: var(--bg-color-main);
  width: 1440px;
}
.container {
  outline: 1px solid tomato;
  width: 1200px; /*1440-135*2  =1170+ 15+15  */
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}
/* Header */
.header {
  /* height: 116px; */
  background-color: var(--bg-color-header);
}
.navigation {
  width: 1440px;
  padding: 27.07px 34px;
}
.logo {
  /* margin: 10.93px auto 10.93px 80px; */
  padding-left: 46px; /* 80-34 =46*/
  color: var(--logo-color);
  font-family: 'Homemade Apple', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 2.17;
  /* identical to box height */

  align-items: center;
  text-align: center;
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list {
  display: flex;
}
.nav-list .item {
  margin-right: 31px;
}
.nav-list .item:last-child {
  margin-right: 0;
}
.nav-list .link {
  color: var(--text-color-p);
}
.navigation .btn {
  /* padding-left: -2.86%;
  padding-right: -4.29%;
  padding-top: -2.5%;
  padding-bottom: -10%; */
  padding: 13.97px 25px 7.53px 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--accent-color);
  background-color: transparent;
  font-size: 18px;
  line-height: 1.22;
  /* identical to box height */
  text-transform: uppercase;

  border: 1px solid var(--accent-color);
  box-sizing: border-box;
  border-radius: 5px;
}
.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--accent-color);
}
.current .link {
  color: var(--accent-color);
}
/* section Hero */
.hero,
.feature {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--bg-color-hero);
  font-size: 20px;
  line-height: 1.4;
  /* or 28px */
}
.content {
  width: 50%;
  margin: 0;
  flex-direction: column;
  font-size: 20px;
  justify-content: flex-start;
  text-align: left;
  line-height: 1.4;
}
.hero .content {
  padding: 152px 126px 135px 162px; /*??????*/
}
.hero-title {
  margin-bottom: 36px;
  font-family: 'Montserrat', serif;
  font-size: 56px;
  line-height: 1.23; /* or 69px;*/
}
.hero-text {
  margin-bottom: 50px;
}
.btn {
  font-size: 18px;
  line-height: 1.22; /*22px;*/
  align-items: center;
  text-align: center;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  box-sizing: border-box;
}
.hero .btn.primary {
  padding: 23px 24px 15px 25px;
  color: var(--text-color-second-p);
  background: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.hero .btn.primary:focus,
.hero .btn.primary:hover {
  background: transparent;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
/* section Feature */
.feature .content {
  padding: 164px 166px 104px 112px;
}
.feature-title {
  margin-bottom: 23px;
  font-family: 'Montserrat', serif;
  font-size: 32px;
  line-height: 1.4; /* or 45px;*/
}
.feature-text {
  margin-bottom: 35px;
}
.feature .btn.secondary {
  padding: 21px 46px 14px 47px;
  background: transparent;
  color: var(--accent-color);
  /* font-size: 18px; */
  line-height: 1.35;
  /* identical to box height, or 24px */
  /* align-items: center;
  text-align: center; */
  border: 1px solid var(--accent-color);
  /* border-radius: 5px;
  text-transform: uppercase;
  box-sizing: border-box; */
}
.feature .btn.secondary:focus,
.feature .btn.secondary:hover {
  color: var(--text-color-second-p);
  background: var(--accent-color);
  /* border: none; */
}
/* section posts */
.posts {
  padding-top: 96px;
}
.posts-title {
  margin-bottom: 23px;
  font-size: 32px;
  line-height: 1.19; /*38px;*/
  /* identical to box height */

  text-align: center;
}
.posts-text {
  margin-bottom: 64px;
  font-size: 18px;
  line-height: 1.36;
  /* identical to box height, or 24px */

  text-align: center;
}
.posts-list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 137px;
}
.posts-list .post-item + .post-item {
  margin-left: 30px;
}
.post-item {
  /* width: 270px; */
  background-color: var(--bg-color-card);
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.05));
}
.post-item .content {
  padding: 24px;
  text-align: left;
  display: flex;

  width: 100%;
  align-items: flex-start;
}
.content .title {
  max-width: 100%;
  margin-bottom: 74px;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
}
details .summary,
details p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36; /*19px;*/
}
/* section contact */
.contact {
  background-color: var(--accent-color);
}
.contact .container {
  padding: 81px 100px 69px;
  display: flex;
  flex-wrap: nowrap;

  justify-content: space-between;
  align-items: center;
}
.group {
  margin-right: 229px;
}
.contact-title,
.contact-text {
  font-size: 32px;
  line-height: 1.4;
  /* identical to box height, or 45px */
}
.contact-list {
  display: flex;
  flex-wrap: nowrap;
}
.contact .btn.primary {
  margin-right: 16px;
  padding: 18px 24px 10px 25px;
  background-color: var(--bg-color-button);
  color: var(--text-color-second-p);
  border: 1px solid var(--bg-color-button);
  box-sizing: border-box;
}
.contact .btn.secondary {
  padding: 17px 16px 8px 17px;
  background-color: transparent;
  line-height: 1.35;
  color: var(--text-color-p);
  border: 1px solid var(--text-color-p);
  box-sizing: border-box;
}
.contact .btn.primary:hover,
.contact .btn.primary:focus {
  background-color: transparent;
  color: var(--text-color-p);
  border: 1px solid var(--text-color-p);
}
.contact .btn.secondary:hover,
.contact .btn.secondary:focus {
  background-color: var(--bg-color-button);
  color: var(--text-color-second-p);
  border: 1px solid var(--text-color-p);
}
/* section Blog */
.blog {
  padding: 80px 0 71px;
}
.blog-title {
  margin-bottom: 23px;
  font-size: 32px;
  line-height: 1.19;
  /* identical to box height */

  text-align: center;
}
.blog-text {
  margin-bottom: 71px;
  font-size: 18px;
  line-height: 1.36;
  /* identical to box height, or 24px */

  text-align: center;
}
.card-feature {
  display: flex;
  flex-wrap: nowrap;

  background-color: var(--bg-color-blog);
  color: var(--text-color-second-p);
}
.card-content {
  margin: 63px 200px 49px 78px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.card-autor {
  margin-bottom: 27px;
  font-size: 14px;
  font-weight: 100;
  line-height: 1.4;
}
.card-title {
  margin-bottom: 60px;
  font-size: 48px;
  font-weight: 200;
  line-height: 1.21;
}
.card-link {
  font-size: 18px;

  line-height: 140.62%;
  color: var(--text-color-second-p);
}
.blog-list {
  margin-top: 40px;
  display: flex;
  flex-wrap: nowrap;
}
